<!DOCTYPE html>
<html>
  <head>
    <title>Foreign Exchange Time-Series Analysis: EUR/USD Pairing</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}">
  </head>

<p>&nbsp;</p>
<h1>Foreign Exchange Time-Series Analysis: EUR/USD Pairing</h1>
<center><p>Jamie Stephens<br>May 2021</p></center>


<div id="box">
   <fieldset>
      <legend style="color:black;font-weight:bold;">Background</legend>
      
   </fieldset>
</div>

<div id="box">
   <fieldset>
      <legend style="color:black;font-weight:bold;">Data Sources</legend>
      
   </fieldset>
</div>


<div id="box">
   <fieldset>
      <legend style="color:black;font-weight:bold;">Analysis</legend>
   </fieldset>
</div>





</html>